*{
  font-family: Georgia,Times New Roman,Serif !important;
  line-height: 2em;
}

#navbarScroll ul li a {
  cursor: pointer;
  font-size: 15px !important; 
}

.navbar-brand{
  cursor: pointer;
}

.links{
  text-decoration: none;
}

#btn-v1 {
  background-image: url(../img/icono_v1.svg) !important;
}

.text-justify {
  text-align: justify;
}